<%= question_header(@question) %>
<%= form_with model: model_x, data: { turbo: false } do |form| %>
  <%= render 'errors', resource: @question %>
  <p>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>
