<li class="question">
    <div class="question-body">
        <div class="question-title">
            <%= link_to question.body, admin_question_path(question) %>
        </div>
        <div class="question-actions">
            <%= link_to edit_admin_question_path(question), class: "no-decor" do %>
            <%= octicon 'pencil', class: 'my-icon' %>
            <% end %>
            <%= link_to admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: t('confirm_delete') } do %>
            <%= octicon 'trash', class: 'my-icon my-icon--danger' %>
            <% end %>
        </div>
    </div>
    <ul>
        <% question.answers.each do |ans| %>
        <li class="question-answer">
            <% if !ans.correct %>
            <%= ans.body %>
            <% else %>
            <span class="correct-answer">
                <%=ans.body %></span>
            <% end %>
        </li>
        <% end %>
    </ul>
</li>