<h1>
    <%= @test.title %>
    <%= link_to edit_admin_test_path(@test), class: "no-decor" do %>
    <%= octicon 'pencil', class: 'my-icon' %>
    <% end %>
</h1>
<h3 class="heading heading-level">Уровень:
    <%= test_level(@test.level) %>
</h3>
<ul class="question-collection">
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ul>
<hr>
<%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
<%= link_to t('.back_to_tests'), admin_tests_path, class: 'btn btn-primary' %>