<div class='input-group'>
  <%= form_with(model: rule) do |form| %>
    <%= render 'errors', resource: rule %>
    <div class="mb-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.order(:title), :id, :title, { prompt: true }, { class: 'form-select' } %>
      <p><%= link_to "reset", '#' %></p>
    </div>
    <div class="mb-3">
      <%= form.label :test_id %>
      <%= form.collection_select :test_id, Test.order(:title), :id, :title, { prompt: true }, { class: 'form-select' } %>
    </div>
    <div class="mb-3">
      <%= form.label :badge_id %>
      <%= form.collection_select :badge_id, Badge.order(:title), :id, :title, { prompt: true }, { class: 'form-select' } %>
      <p><%= link_to "reset", '#' %></p>
    </div>
    <div class="mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>