<div id="<%= dom_id rule %>" class="card text-bg-light mb-3">
  <div class="card-header d-flex">
    <%= rule.title %>
    <div  class='ms-auto'>
      <%= link_to '', edit_rule_path(rule), class: 'btn btn-primary bi bi-pen btn-sm' %>
      <%= link_to '', rule, data: { turbo_method: :delete}, class: 'btn btn-danger btn-sm bi bi-trash' %>
    </div>
  </div>
  <div class="card-body">
    <% if rule.category %>
      <h5 class="card-title"> Category: <%= rule.category.title %></h5>
    <% end %>
    <% if rule.test %>
      <h5 class="card-title"> Test: <%= rule.test.title %></h5>
    <% end %>
    <p class="card-text">
      <% if rule.badge %>
        <%= rule.badge.title %>
        <% if rule.badge.image.attached? %>
          <%= image_tag rule.badge.image, style: "width: 100%" %>
        <% end %>
      <% else %>
        no badge
      <% end %>
    </p>
  </div>
</div>