<h1><%= t('.header') %></h1>
<table class="table">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= Test.model_name.human %>
        <%= octicon 'arrow-up', class: 'text-success' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= Category.model_name.human %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.total') %></th>
      <th>Прохождение</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
